/* Is the background for Uplft used on every page. Scaled to the correct size*/
.bluebackground {
  position: absolute;
  width: 1256px;
  height: 1050px;
  left: 0px;
  top: 0px;

  background: rgba(194, 229, 255, 1);
  border-radius: 0px;
}

/* Is the white background overlay that is used for all of the pages of Uplft.*/
.whitebackground {
  position: absolute;
  width: 1106px;
  height: 800px;
  left: 40px;
  top: 90px;

  background: #ffffff;
  border-radius: 6px;
}
