.bluebackground{
    position:absolute;
    width: 1256px;
    height: 1050px;
    left: 0px;
    top: 0px;
    
    background: rgba(194, 229, 255, 1);
    border-radius: 0px;  
}
.whitebackground{
position:absolute;
width: 1106px;
height: 800px;
left: 40px;
top: 90px;

background: #FFFFFF;
border-radius: 6px;
}