/* Divides the screen into 30% to fit the formatting */
.splitLeft {
  height: 100%;
  width: 30%;
  position: relative;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  left: 0;
}

/* Takes 70% of the screen on the right side to create the two sides of the profile page, the profile and then the trophies*/
.splitRight {
  height: 910px;
  width: 70%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  right: 0;
}

/* Formats a profile image into a circle with the correct dimensions*/
.profileImage {
  height: 300px;
  width: 300px;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 50%;
}

/* Provides the size and font of the wording for the users username on the profile page. This is seen in the top left corner under the header*/
.userNameText {
  position: relative;
  width: 133x;
  height: 33px;

  font-style: initial;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  text-align: left;

  color: #000000;
}

/* Is sued to position all the elements contained within the space. 
Provides the correct margins and spacing for elemetns inside of the white box*/
.wrapperProfile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  gap: 36px;
  width: 1034px;
  height: 587px;
  box-sizing: border-box;
  position: absolute;
  padding-left: 50px;
  padding-top: 50px;
}

/* Is the font, size, and color for the header of the page*/
.mainTitle {
  color: rgb(64, 64, 64);
  text-overflow: ellipsis;
  font-size: 36px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-align: left;
  width: 733px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/*Is the styled componenet for the button under the profile image.*/
.profileSettingButton {
  position: relative;
  width: 200px;
  height: 36px;
  padding-top: 5px;
  background: white;
  border: 2px solid #2f5890;
  box-sizing: border-box;
  border-radius: 6px;
  padding-bottom: 10px;
}

/* Rather than using padding, this functions as a space to create a more visual apperance*/
.space {
  width: 199.68px;
  height: 14.82px;
}

/* This is the size and font of the wording that goes inside the profile settings button*/
.profileText {
  position: relative;
  width: 199.68px;
  height: 14.82px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 10px;
  color: #2f5890;
}

/* Creates the button for the logout function of the app. Has the border width and color attached*/
.logoutButton {
  position: relative;
  width: 200px;
  height: 36px;
  padding-top: 5px;
  background: white;
  border: 2px solid #b71c1c;
  box-sizing: border-box;
  border-radius: 6px;
  padding-bottom: 10px;
}

/* This creates the red text that goes inside the red logout button*/
.logoutText {
  position: relative;
  width: 199.68px;
  height: 14.82px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 10px;
  color: #b71c1c;
}

/* Is the grey box that holds the users trophies on the profile page*/
.shopBox {
  position: relative;
  width: 655px;
  height: 336px;
  background-color: #efefef;

  border-radius: 6px;
  box-sizing: border-box;
}

/* Holds in the componenets of the right side of the page by creating the margins*/
.wrapperRight {
  padding-top: 90px;
  padding-left: 50px;
  padding-bottom: 10px;
}

/* Holds in the items using a grid template to make sure that the spacing is correct*/
.trophyWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 1em;
  overflow: scroll;
  height: 331px;
}
