.text-3xl {
    position: absolute;
    width: 469px;
    height: 107px;
    left: calc(50% - 432px/2);
    top: calc(50% - 790px/2 - 54.5px);
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: lighter;
    font-size: 96px;
    line-height: 107px;

    text-align: center;

    color: #2F5890;
}

.my-1 {
    position: relative;
    left: calc(50% - 468px/2);
    top: calc(397px/2 - 54.5px);
}


.emailup {
    position: absolute;
    width: 400px;
    height: 68px;
    left: calc(50% - 325px/2 - 1px);
    top: calc(50% - 600px/2 - 54.5px);
}


.password {
    position: absolute;
    width: 400px;
    height: 68px;
    left: calc(50% - 390px/2 - 1px);
    top: calc(50% - 101px/2 - 35.5px);

}

.mt-8 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg, rgba(48, 87, 144, 1), rgba(47, 145, 174, 1))
}

.smallback {

    position: absolute;
    left: 20.83%;
    right: 20.83%;
    top: 0%;
    bottom: 0%;
    background-color: #C2E5FF;

}

.block {
    position: relative;
    width: 468px;
    height: 397px;
    left: calc(50% - 468px/2);
    top: calc(397px/2 - 54.5px);
    color: #FFFFFF;

}

.boxup {

    position: absolute;
    width: 468px;
    height: 500px;
    left: calc(50% - 468px/2);
    top: calc(50% - 397px/2 - 54.5px);

    background: #FFFFFF;
    border-radius: 12px;
}

.spread {
    font-family: 'Arial';
    position: absolute;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #6F6F6F;
    left: calc(50% - 300px/2);
    top: calc(21% - 54.5px);
}

.upaccount {
    position: absolute;
    width: 354px;
    height: 21px;
    left: 85px;
    top: 440px;
    padding: 15px 32px;
}

.signUp {
    position: absolute;
    width: 400px;
    height: 51px;
    left: 38px;
    top: 390px;
    background: #2295FF;
    border-radius: 6px;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
}

.name {
    position: absolute;
    width: 400px;
    height: 68px;
    left: calc(50% - 325px/2 - 1px);
    top: calc(50% - 500px/2 - 35.5px);
}

.uppassword {
    position: absolute;
    width: 400px;
    height: 68px;
    left: calc(50% - 390px/2 - 1px);
    top: calc(50% - 125px/2 - 10.5px);
}

.signuperror {
    position: absolute;
    width: 300px;
    height: 16px;
    left: 16px;
    top: 360px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #B71C1C;
}

.requirements {

    position: absolute;
    width: 466px;
    height: 21px;
    left: 42px;
    top: 257px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;



    color: #555555;

}