/* this controls the title "Uplft" at the top of the page */
.title {
    position: absolute;
    width: 469px;
    height: 107px;
    left: calc(50% - 450px/2);
    top: calc(50% - 790px/2 - 54.5px);
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: lighter;
    font-size: 96px;
    line-height: 107px;
    text-align: center;
    color: #2F5890;
}

/* this controls the fillable text box for the email */
.email {
    position: absolute;
    width: 400px;
    height: 68px;
    left: calc(50% - 391px/2);
    top: calc(200px/2 - 54.5px);
}

/* this controls the fillable text box for the password */
.password {
    position: absolute;
    width: 400px;
    height: 68px;
    left: calc(50% - 390px/2 - 1px);
    top: calc(50% - 101px/2 - 35.5px);

}

/* this controls the two gradient sidebars/background of the page */
.sidebars {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg, rgba(48, 87, 144, 1), rgba(47, 145, 174, 1))
}

/* this controls the smaller blue box in the middle of the two sidebars */
.smallback {
    position: absolute;
    left: 20.83%;
    right: 20.83%;
    top: 0%;
    bottom: 0%;
    background-color: #C2E5FF;

}

/* this controls the white box containing the log in credentials */
.box {

    position: absolute;
    width: 468px;
    height: 397px;
    left: calc(50% - 468px/2);
    top: calc(50% - 397px/2 - 54.5px);
    background: #FFFFFF;
    border-radius: 12px;
}

/* this controls Uplft's slogan "Spread positivty from anywhere." */
.spread {
    font-family: 'Arial';
    position: absolute;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #6F6F6F;
    left: calc(50% - 300px/2);
    top: calc(21% - 54.5px);
}

/* this controls the question of if the user doens't have an account and it leads them to the sign-up page */
.account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 354px;
    height: 21px;
    left: 57px;
    top: 352px;
}

/* this controls the login button */
.login {

    position: absolute;
    width: 400px;
    height: 51px;
    left: 38px;
    top: 220px;
    background: #2295FF;
    border-radius: 6px;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;

}

/* this controls the error message if the login credentials were entered incorrectly */
.error {

    position: absolute;
    width: 202px;
    height: 16px;
    left: 35px;
    top: 170px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #B71C1C;
}

/* this controls the "or" in the login modal */
.ortag {

    position: absolute;
    left: 49%;
    top: 77%;
    bottom: 20.65%;
    font-size: 15 px;
    color: lightgray;


}

/* this controls the first horizontal line before the  "or" in the login modal */
.line1 {

    width: 30%;

    position: absolute;
    left: 9%;
    right: 22.44%;
    top: 79%;
    color: lightgray;


}

/* this controls the second horizontal line after the  "or" in the login modal */
.line2 {
    width: 30%;
    position: absolute;
    left: 64%;
    right: 22.44%;
    top: 79%;
    color: lightgray;

}